<link rel="stylesheet" type="text/css" href="{{asset " assets/css1/file.css"}}" />
<link rel="stylesheet" href="{{asset 'css/carousel-testimonials.css'}}" />
 <link rel="stylesheet" type="text/css" href="{{asset "assets/css/sponsori.css"}}" />

{{!< default}} <div class="site-header-content">
    {{#if @site.cover_image}}
    {{!-- This is a responsive image, it loads different sizes depending on device
    https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
    <img class="site-header-cover" style="position: fixed" srcset="{{img_url @site.cover_image size=" s"}} 300w, {{img_url @site.cover_image
        size="m" }} 600w, {{img_url @site.cover_image size="l" }} 1000w, {{img_url @site.cover_image size="xl" }} 2000w"
        sizes="100vw" src="{{img_url @site.cover_image size=" xl"}}" alt="" />
    {{/if}}
    <h1 class="site-title">
        {{#if @site.logo}}
        <img class="site-logo" src="{{img_url @site.logo size=" l"}}" alt="{{@site.title}}" />
        {{else}}
        {{@site.title}}
        {{/if}}
    </h1>
    <p style="color: white; opacity: .99">{{@site.description}}</p>
    <p style="color: white; opacity: .99">12 - 14 April</p>
    </div>

    <main id="site-main" style="z-index: 200; background-color: white;" class="site-main outer" style="width: 100%; overflow:">

        <!-- Presentation sections -->
        <div class="py-5" style="
                background-color: var(--bs-gray-100);
                color: var(--bs-gray-100);
            ">
            <div class="container" style="
                    background-color: var(--bs-gray-100);
                    color: var(--bs-gray-900);
                    ">
                <div class="row">
                    <div class="pt-0 pt-md-5 col-sm-12 col-md-6 d-flex flex-column p-5">
                        <div class="pt-0 pt-md-5 p-5" style="
                                color: var(--bs-gray-900);
                                border-radius: 16px;
                            ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                                class="bi bi-lightbulb align-self-start mb-5" viewBox="0 0 16 16">
                                <path
                                    d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z" />
                            </svg>
                            <p class="fs-2 fw-bold">
                               Coding enthusiasts, embark on a coding adventure with us and unlock the door to innovation! If you’re fueled by bright ideas and ready to take your first steps into the world of coding and entrepreneurship, then join us in shaping the future at our hackathon!

                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 d-flex flex-column">
                        <div class="p-5 special-shadow move-up-on-hover" style="
                                background-color: var(--bs-gray-100);
                                color: var(--bs-gray-900);
                                border-radius: 16px;
                                background-image: url('/content/images/ph2.webp');  
                                background-size: cover;
                                background-repeat: no-repeat;
                                max-width: 100%;
                                width: 500px;
                                height: 250px;
                            ">
                        </div>
                    </div>
                </div>

                <div class="row flex-column-reverse flex-md-row mt-n5 mt-md-0">
                    <div class="col-sm-12 col-md-6 d-flex justify-content-center align-items-center flex-column">
                        <div class="p-5 special-shadow move-up-on-hover" style="
                                background-color: var(--bs-gray-100);
                                color: var(--bs-gray-900);
                                border-radius: 16px;
                                background-image: url('/content/images/ph3.webp');
                                background-size: cover;
                                background-repeat: no-repeat;
                                max-width: 100%;
                                width: 500px;
                                height: 250px;
                            ">
                        </div>
                    </div>
                    <div
                        class="pt-0 pt-md-5 col-sm-12 col-md-6 d-flex justify-content-center align-items-center flex-column p-5">
                        <div class="pt-0 pt-md-5 p-5" style="
                                color: var(--bs-gray-900);
                                border-radius: 16px;
                            ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                                class="bi bi-eyeglasses align-self-start mb-5" viewBox="0 0 16 16">
                                <path
                                    d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" />
                            </svg>
                            <p class="fs-2  fw-bold">
                               PoliHack’s mission is  to unite students and high schoolers who have a passion for technology. In a dynamic 48-hour sprint, participants refine ideas, pushing innovation's limits. Join a collective of forward-thinkers, where creativity knows no bounds!

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-5 py-5" style="
                background-color: var(--bs-gray-100);
                border-top: 1px solid var(--bs-gray-500);
                border-bottom: 1px solid var(--bs-gray-500);
            ">
            <div class="container">
                <h1 style="text-align: center; color: var(--bs-gray-900); margin-bottom: 3vw;">
                     Networking 
                </h1>
                 <div  style="
                background-color: var(--bs-gray-100);
                color: var(--bs-gray-100);
            ">
            <div class="container" style="
                    background-color: var(--bs-gray-100);
                    color: var(--bs-gray-900);
                    ">
                <div class="pt-0  row">
                        <div class=" mt-5 col-sm-12 col-md-3 d-flex j align-items-center flex-column">
                            <div class="mb-5 special-shadow move-up-on-hover" style="
                                    background-color: var(--bs-gray-100);
                                    color: var(--bs-gray-900);
                                    border-radius: 16px;
                                    background-image: url('/content/images/networking1.jpeg');  
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    max-width: 100%;
                                    width: 350px;
                                    height: 175px;
                                ">
                            </div>
                            <div class="mt-5 special-shadow move-up-on-hover" style="
                                    background-color: var(--bs-gray-100);
                                    color: var(--bs-gray-900);
                                    border-radius: 16px;
                                    background-image: url('/content/images/networking2.jpeg');  
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    max-width: 100%;
                                    width: 350px;
                                    height: 175px;
                                ">
                            </div>
                
                        </div>
                        
                        <div class=" pt-md- col-sm-12 col-md-6 d-flex flex-column p-5">
                            <div class="pt-0 pt-md-5 p-5" style="
                                    color: var(--bs-gray-900);
                                    border-radius: 16px;
                                ">
                                <p class="fs-2 ">
                                This event provides an ideal chance to engage with fellow participants and mentors in a laid-back and social setting. Get ready to forge new connections and nurture lasting relationships that will enhance your hackathon experience. Embrace the opportunity to network, share ideas, and collaborate in an atmosphere that fosters creativity and innovation. Whether you're a seasoned hacker or a newcomer, this gathering offers a platform to learn, grow, and connect with like-minded individuals passionate about technology and problem-solving. Seize the moment to expand your network, exchange knowledge, and embark on a journey of exploration and discovery together with your peers.

                                </p>
                            </div>
                        </div>
                        <div class="mt-5 col-sm-12 col-md-3 d-flex  flex-column" style="margin-top:0px">
                            <div class="mb-5 special-shadow move-up-on-hover" style="
                                    background-color: var(--bs-gray-100);
                                    color: var(--bs-gray-900);
                                    border-radius: 16px;
                                    background-image: url('/content/images/networking3.jpeg');
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    max-width: 100%;
                                    width: 350px;
                                    height: 175px;
                                ">
                            </div>
                            <div class="mt-5  special-shadow move-up-on-hover" style="
                                    background-color: var(--bs-gray-100);
                                    color: var(--bs-gray-900);
                                    border-radius: 16px;
                                    background-image: url('/content/images/networking4.jpeg');
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    max-width: 100%;
                                    width: 350px;
                                    height: 175px;
                                ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="py-5" style="
                background-color: var(--bs-gray-100);
                border-top: 1px solid var(--bs-gray-500);
                border-bottom: 1px solid var(--bs-gray-500);
            ">
            <div class="container" style="background-color: var(--bs-gray-100);">
                <div class="row align-items-start">
                    <div>
                        <h1 style="text-align: center; color: var(--bs-gray-900); margin-bottom: 3vw;">
                            La ce categorii te poți înscrie?
                        </h1>
                    </div>

                    <!--CARD 1 -->
                    <div class="col-sm-12 col-md-3 container-center">
                        <div>
                            <div class="container-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                                    class="bi bi-code-slash svg-background" viewBox="0 0 16 16" style="color: white;">
                                    <path
                                        d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z" />
                                </svg>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title">Web</h1>
                                <p class="card-text">
                                    Unleash your creativity in the digital realm by designing captivating websites or any browser-friendly applets that push the boundaries of user experience.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!--CARD 2 -->
                    <div class="col-sm-12 col-md-3 container-center">
                        <div>
                            <div class="container-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                                    class="bi bi-phone svg-background" viewBox="0 0 16 16">
                                    <path
                                        d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z" />
                                    <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                </svg>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title">AppDev</h1>
                                <p class="card-text">
                                    Dive into the mobile world and bring your ideas to life with innovative applications. Whether it's for iOS, Android, or cross-platform environments, showcase your coding prowess and redefine the way we interact with technology.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!--CARD 3 -->
                    <div class="col-sm-12 col-md-3 container-center">
                        <div>
                            <div class="container-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                                    class="bi bi-cpu svg-background" viewBox="0 0 16 16">
                                    <path
                                        d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0zm-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3h-7zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
                                </svg>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title">Embedded</h1>
                                <p class="card-text">
                                    Explore the fascinating world of embedded systems, where you can create smart devices and lead the way in developing state-of-the-art hardware solutions. Your innovations will play a crucial role in shaping the constantly evolving landscape of technology.

                                </p>
                            </div>
                        </div>
                    </div>

                    <!--CARD 4 -->
                    <div class="col-sm-12 col-md-3 container-center">
                        <div>
                            <div class="container-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                                    class="bi bi-emoji-laughing svg-background" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path
                                        d="M12.331 9.5a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5zM7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5z" />
                                </svg>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title">Junior</h1>
                                <p class="card-text">
                                    For high school tech enthusiasts, the Junior category provides a platform to explore and experiment with technology. Dive into the world of web development, create web or embedded projects and embark on coding projects that reflect your passion for innovation.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- SPONSORI -->
        {{!-- <div id="sponsors">
            <h1 style="text-align: center; font-size: 3.6em">SPONSORI</h1>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3 container-center">
                        <a href="#">
                            <div class="sponsors">
                                <img src="/content/images/SAS-UTCN.webp" width="200">
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-3 container-center">
                        <a href="#">
                            <div class="sponsors">
                                <img src="/content/images/SAS-UTCN.webp" width="200">
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-3 container-center">
                        <a href="#">
                            <div class="sponsors">
                                <img src="/content/images/SAS-UTCN.webp" width="200">
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-3 container-center">
                        <a href="#">
                            <div class="sponsors">
                                <img src="/content/images/SAS-UTCN.webp" width="200">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div> --}}

        <div style="border-bottom: 1px solid var(--bs-gray-500);">
            <h1 style="text-align: center; color: var(--bs-gray-900); margin-top: 1vw;">Testimonials</h1>
            {{> carousel-testimonials}}
        </div>

        <div style="border-bottom: 1px solid var(--bs-gray-500);">
            <h1 style="text-align: center;">Past Editions</h1>
            <div class="inner posts">
                <div class="post-feed">
                    {{#foreach posts}}

                    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card"}}

                    {{/foreach}}
                </div>
            </div>
        </div>
        <div class="py-5" style="
                background-color: var(--bs-gray-100);
                border-top: 1px solid var(--bs-gray-500);
                border-bottom: 1px solid var(--bs-gray-500);
            ">
            <div class="container" style="background-color: var(--bs-gray-100);">
                <div class="row align-items-start" >
                    <div>
                        <h1 style="text-align: center; color: var(--bs-gray-900); ">
                            The winners of the previous edition
                        </h1>
                    </div>


                    <div class = "card-category" style="flex-wrap:nowrap; justify-content:space-around">
                        <div class = "card-bg">
                            
                            
                            <div class="container-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                                    class="bi bi-cpu svg-background" viewBox="0 0 16 16">
                                    <path
                                        d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0zm-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3h-7zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
                                </svg>
                            </div>
                             <h2 class = "card-title" style="font-size:2.5rem; margin-top: 0px;">Embedded</h2>
                             <div class = "card-img img-73" style="margin-top:15px; margin-bottom:auto; border-radius:15%"></div>
                             <h2 class = "card-title">Bit Bangers</h2>
                            <p class="card-title" style="font-size:large">project:<br> -WASTE-</p>
                        </div>
                        <div class = "card-bg">
                             <div class="container-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                                    class="bi bi-code-slash svg-background" viewBox="0 0 16 16" style="color: white;">
                                    <path
                                        d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z" />
                                </svg>
                            </div>
                             <h2 class = "card-title" style="font-size:2.5rem; margin-top: 0px;">WebDev</h2>
                            <div class = "card-img img-72" style="margin-top:15px; margin-bottom:auto; border-radius:15%"></div>
                            <h2 class = "card-title">5ToCode</h2>
                             <p class="card-title" style="font-size:large">project:<br> -CliniConnect-</p>
                        </div>
                        <div class = "card-bg">
                            <div class="container-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                                    class="bi bi-phone svg-background" viewBox="0 0 16 16">
                                    <path
                                        d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z" />
                                    <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                </svg>
                            </div>
                             <h2 class = "card-title" style="font-size:2.5rem; margin-top: 0px;">AppDev</h2>
                            <div class = "card-img img-71" style="margin-top:15px; margin-bottom:auto; border-radius:15%"></div>
                            <h2 class = "card-title">we-qt</h2>
                            
                            <p class="card-title" style="font-size:large">project:<br> -DOC-QT-</p>
                        </div>
                        <div class = "card-bg">
                            <div class="container-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                                    class="bi bi-phone svg-background" viewBox="0 0 16 16">
                                    <path
                                        d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z" />
                                    <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                </svg>
                            </div>
                             <h2 class = "card-title" style="font-size:2.5rem; margin-top: 0px;">Junior</h2>
                            <div class = "card-img img-70" style="margin-top:15px; margin-bottom:auto;border-radius:15%"></div>
                            <h2 class = "card-title">ProjectCloud4</h2>
                            <p class="card-title" style="font-size:large">project: <br>-ATRIS-</p>
                            
                        </div>
                    </div>





        <div style="padding-bottom: 40px;">
            <h1 style="text-align:center;">Where will it take place?</h1>
            <div class="custom-map">
                <center>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2732.087941493188!2d23.605760115602102!3d46.78287147913863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47490c1cf36e29af%3A0xca220d2ddd6625ea!2sCluj%20Business%20Campus!5e0!3m2!1sro!2sro!4v1667338016320!5m2!1sro!2sro"
                        width="80%" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0"></iframe>
                </center>
            </div>
        </div>

        
    </main>