{{!< default}}
 
 <link rel="stylesheet" type="text/css" href="{{asset "assets/css/sponsori.css"}}" />
<link rel="stylesheet" type="text/css" href="{{asset " assets/css1/file.css"}}" />
<link rel="stylesheet" href="{{asset 'css/carousel-testimonials.css'}}" />
<link rel="stylesheet" type="text/css" href="{{asset "assets/css/sponsori.css"}}" />
<link rel="stylesheet" type="text/css" href="{{asset "assets/css/index.css"}}" />
<link rel="stylesheet" type="text/css" href="{{asset "assets/css/screen.css"}}" />
<link rel="stylesheet" type="text/css" href="{{asset "assets/css/carousel-premii.css"}}" />



{{#post}}


 <main id="site-main" class="site-main" style="background-color:#1e1e1e">
 <img class="banner_ph" src="/assets/images/bgv14.png" alt="" >

 </img>
 


    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01" style="width:50%;" >
        <h1 id="modalTitle" style="text-align: center; margin-top:2vh;"></h1>
        <h2 id="modalSubtitle" style="text-align: center; margin-top:0vh;"></h2>
        <div id="caption"></div>
    </div>

  <br>
  <br>
  <br>
<h1 style="text-align: center; color:rgb(118, 17, 20)"> TESTIMONIALS</h1>
  <div class="scroll-container">
    <img class="myImg" src="/assets/images/testimoniale/titus.jpg" style="width:80%;max-width:300px;margin:3vw;" data-title="Titus Maghiar -P3" data-subtitle="MENTOR V.14" data-caption=" For me, PoliHack is one of those rare opportunities to contribute to the community, share your knowledge, and leave a meaningful mark on the development of a new generation of programmers, innovators, and entrepreneurs. Being a mentor at this hackathon is one of the most valuable and unique experiences you can have as a software developer and OSUT Cluj alumnus. It’s a unique feeling to help passionate young people bring their best ideas to life, provide them with guidance, and witness their tremendous growth in just 48 hours. This experience reminds you why you chose this career and why you continue to love what you do.">
    <img class="myImg" src="/assets/images/testimoniale/leo.jpg" style="width:80%;max-width:300px;margin:3vw;" data-title="Leonard Mihalcea -CloudFlight" data-subtitle="MENTOR V.14" data-caption="Being a mentor at the PoliHack V.14 was a lot of fun. I met many curious and motivated hackers with great ideas. The atmosphere was full of energy and keyboard sounds. It was a great chance to share knowledge and see some cool projects come to life. I even got the chance to showcase my FIFA skills with some of the hackers! If future participants are reading this, I recommend choosing a fun idea that you believe in, and remember that you're here for a great experience, enjoy it!">
    <img class="myImg" src="/assets/images/testimoniale/oana.jpg" style="width:80%;max-width:300px;margin:3vw;" data-title="Oana Durcău -Linnify" data-subtitle="JURAT V.14" data-caption="PoliHack is an excellent opportunity to turn the knowledge gained in university into a practical experience of learning, discovery, and perhaps even self-discovery. My recommendation is for participants to stay open-minded, seek help from mentors and peers, and think outside the box. They should explore ideas with real-world applications that solve concrete problems. PoliHack isn’t just about writing code; it’s about experiencing an intense journey that pushes them out of their comfort zones and provides valuable lessons for both their careers and personal growth. PoliHack is not only a competition but also a place where participants can learn from one another and bring forward ideas that can make a real difference.">
    <img class="myImg" src="/assets/images/testimoniale/teo.jpg" style="width:80%;max-width:300px;margin:3vw;" data-title="Teodora Nemeș" data-subtitle="PARTICIPANT V.14 -Fly Projecta" data-caption="The PoliHack experience showed me how powerful an idea can become when you have the right people by your side. In just 48 hours, we turned a simple concept into a real product, enhancing not only our technical skills but also essential communication, collaboration, and adaptability skills. The hackathon helps you discover the career path that suits you, giving you a clear perspective on what you want to build in the future. PoliHack is not just about technology and pitches; it’s about people who put passion into what they do and about experiences that contribute to both your personal and professional growth.">
    <img class="myImg" src="/assets/images/testimoniale/matei.jpg" style="width:80%;max-width:300px;margin:3vw;" data-title="Matei Mihuț" data-subtitle="PARTICIPANT V.14 -CNDRobotics" data-caption="The excellent communication with the organizing team, the enjoyable and informative workshops, mentors ready to help anytime with any technical or non-technical issue, and the friendly participants all contributed to an amazing experience. I highly recommend participating, even if you don’t have extraordinary technical knowledge. I feel like I learned a lot from PoliHack!">
    <img class="myImg" src="/assets/images/testimoniale/rythm.jpg" style="width:80%;max-width:300px;margin:3vw;" data-title="Rhythm Touch" data-subtitle="PARTICIPANT V.14 -SpiC" data-caption="It was our first experience at a hackathon as a team, and it made us wonder why we hadn’t taken part in more of these competitions. Stress, lots of emotions, little sleep - but still, some of the most successful and special days we’ve experienced during university. You shouldn’t let the fear of stepping out of your comfort zone stand between you and your achievements. It’s an experience where you have only things to gain; it might be the one that opens up new perspectives, motivating you to be the best version of yourself. We know it’s only 48 hours and time flies, but it’s more important that the idea reflects who you are and that you’re passionate about it - everything will flow smoothly from there.">
    <img class="myImg" src="/assets/images/testimoniale/titus.jpg" style="width:80%;max-width:300px;margin:3vw;" data-title="Titus Maghiar -P3" data-subtitle="MENTOR V.14" data-caption=" For me, PoliHack is one of those rare opportunities to contribute to the community, share your knowledge, and leave a meaningful mark on the development of a new generation of programmers, innovators, and entrepreneurs. Being a mentor at this hackathon is one of the most valuable and unique experiences you can have as a software developer and OSUT Cluj alumnus. It’s a unique feeling to help passionate young people bring their best ideas to life, provide them with guidance, and witness their tremendous growth in just 48 hours. This experience reminds you why you chose this career and why you continue to love what you do.">
    <img class="myImg" src="/assets/images/testimoniale/leo.jpg" style="width:80%;max-width:300px;margin:3vw;" data-title="Leonard Mihalcea -CloudFlight" data-subtitle="MENTOR V.14" data-caption="Being a mentor at the PoliHack V.14 was a lot of fun. I met many curious and motivated hackers with great ideas. The atmosphere was full of energy and keyboard sounds. It was a great chance to share knowledge and see some cool projects come to life. I even got the chance to showcase my FIFA skills with some of the hackers! If future participants are reading this, I recommend choosing a fun idea that you believe in, and remember that you're here for a great experience, enjoy it!">
    <img class="myImg" src="/assets/images/testimoniale/oana.jpg" style="width:80%;max-width:300px;margin:3vw;" data-title="Oana Durcău -Linnify" data-subtitle="JURAT V.14" data-caption="PoliHack is an excellent opportunity to turn the knowledge gained in university into a practical experience of learning, discovery, and perhaps even self-discovery. My recommendation is for participants to stay open-minded, seek help from mentors and peers, and think outside the box. They should explore ideas with real-world applications that solve concrete problems. PoliHack isn’t just about writing code; it’s about experiencing an intense journey that pushes them out of their comfort zones and provides valuable lessons for both their careers and personal growth. PoliHack is not only a competition but also a place where participants can learn from one another and bring forward ideas that can make a real difference.">
    <img class="myImg" src="/assets/images/testimoniale/teo.jpg" style="width:80%;max-width:300px;margin:3vw;" data-title="Teodora Nemeș" data-subtitle="PARTICIPANT V.14 -Fly Projecta" data-caption="The PoliHack experience showed me how powerful an idea can become when you have the right people by your side. In just 48 hours, we turned a simple concept into a real product, enhancing not only our technical skills but also essential communication, collaboration, and adaptability skills. The hackathon helps you discover the career path that suits you, giving you a clear perspective on what you want to build in the future. PoliHack is not just about technology and pitches; it’s about people who put passion into what they do and about experiences that contribute to both your personal and professional growth.">
    <img class="myImg" src="/assets/images/testimoniale/matei.jpg" style="width:80%;max-width:300px;margin:3vw;" data-title="Matei Mihuț" data-subtitle="PARTICIPANT V.14 -CNDRobotics" data-caption="The excellent communication with the organizing team, the enjoyable and informative workshops, mentors ready to help anytime with any technical or non-technical issue, and the friendly participants all contributed to an amazing experience. I highly recommend participating, even if you don’t have extraordinary technical knowledge. I feel like I learned a lot from PoliHack!">
    <img class="myImg" src="/assets/images/testimoniale/rythm.jpg" style="width:80%;max-width:300px;margin:3vw;" data-title="Rhythm Touch" data-subtitle="PARTICIPANT V.14 -SpiC" data-caption="It was our first experience at a hackathon as a team, and it made us wonder why we hadn’t taken part in more of these competitions. Stress, lots of emotions, little sleep - but still, some of the most successful and special days we’ve experienced during university. You shouldn’t let the fear of stepping out of your comfort zone stand between you and your achievements. It’s an experience where you have only things to gain; it might be the one that opens up new perspectives, motivating you to be the best version of yourself. We know it’s only 48 hours and time flies, but it’s more important that the idea reflects who you are and that you’re passionate about it - everything will flow smoothly from there.">
</div>

 <div class="scroll-container">
    <img src="/assets/images/v14/1.jpg" >
    <img  src="/assets/images/v14/2.jpg" >
    <img src="/assets/images/v14/3.jpg" >
    <img  src="/assets/images/v14/4.jpg" >
    <img  src="/assets/images/v14/5.jpg" >
    <img  src="/assets/images/v14/6.jpg">
    <img  src="/assets/images/v14/7.jpg" >
</div>
<br>
<hr>
<br>

<h1 style="text-align: center; color:rgb(118, 17, 20)"> WINNERS</h1>
<div class="sectiuni">
                 <div class="web">
                    <img src="/assets/images/v14/winners/WEB.png" >
                  </div>
                <div class="web">
                    <img src="/assets/images/v14/winners/w1.jpg">
                 </div>
                <div class="web">
                    <img src="/assets/images/v14/winners/w2.jpg">  
                </div>
                <div class="web">
                   <img src="/assets/images/v14/winners/w3.jpg"> 
                </div>
               
 </div>
<BR>
<hr>
<BR>
 <div class="sectiuni">
                 <div class="app">
                    <img src="/assets/images/v14/winners/a1.jpg" >
                  </div>
                <div class="app">
                    <img src="/assets/images/v14/winners/a2.jpg">
                 </div>
                <div class="app">
                    <img src="/assets/images/v14/winners/a3.jpg">  
                </div>
                <div class="app">
                   <img src="/assets/images/v14/winners/APP.png"> 
                </div>
               
 </div>
<BR>
<hr>
<BR>
  <div class="sectiuni">
                 <div class="web">
                    <img src="/assets/images/v14/winners/EMBEDDED.png" >
                  </div>
                <div class="web">
                    <img src="/assets/images/v14/winners/e1.jpg">
                 </div>
                <div class="web">
                    <img src="/assets/images/v14/winners/e2.jpg">  
                </div>
                <div class="web">
                   <img src="/assets/images/v14/winners/e3.jpg"> 
                </div>
               
 </div>
<br>
<hr>
<br>
 
  <div class="sectiuni">
                 <div class="app">
                    <img src="/assets/images/v14/winners/j1.jpg" >
                  </div>
                <div class="app">
                    <img src="/assets/images/v14/winners/j1.1.jpg">
                 </div>
                <div class="app">
                    <img src="/assets/images/v14/winners/j2.jpg">  
                </div>
                <div class="app">
                   <img src="/assets/images/v14/winners/JUNIOR.PNG"> 
                </div>
               
 </div>
<br>
<hr>
<br>
 <h1 style="text-align: center; color:rgb(118, 17, 20)">SPONSORS</h1>
 <div class="scroll-container">
    <img src="/assets/images/v14/logo/1.png" style="width:auto; height:20vh; margin:2vw;">
    <img  src="/assets/images/v14/logo/2.png" style="width:auto; height:20vh;margin:2vw;" >
    <img src="/assets/images/v14/logo/3.png" style="width:auto;height:20vh;margin:2vw;">
    <img  src="/assets/images/v14/logo/4.png" style="width:auto;height:20vh;margin:2vw;">
    <img  src="/assets/images/v14/logo/5.svg" style="width:auto;height:20vh;margin:2vw;">
    <img  src="/assets/images/v14/logo/6.png"style="width:auto;height:20vh;margin:2vw;">
    <img  src="/assets/images/v14/logo/7.png"style="width:auto;height:20vh;margin:2vw;" >
     <img  src="/assets/images/v14/logo/8.jpg"style="width:auto;height:20vh;margin:2vw;">
    <img  src="/assets/images/v14/logo/9.png" style="width:auto;height:20vh;margin:2vw;">
</div>
<BR>
<BR>
<BR>

 <h1 style="text-align:center; color:white; font-size:10vw; background-image: url('/assets/images/background.png'); background-size: cover; background-position: center;">
    EDITION V.15
</h1><h1 style="text-align: center; color:rgb(118, 17, 20)"> TESTIMONIALS</h1>

 <div class="scroll-container">
    <img class="myImg" src="/assets/images/testimoniale/karla.jpg" style="width:80%;max-width:300px;margin:3vw;" data-title="Karla Boga " data-subtitle="PARTICIPANT V.15 -PussInBoots" data-caption=" For me, PoliHack is a heartfelt competition. I really enjoyed spending time with friends, brainstorming, and developing an idea together that came to us spontaneously. It’s fascinating to see how much an idea can evolve in just 24 hours. I feel like I significantly improved my pitching skills there and overcame my anxiety about public speaking. I also learned how to work under pressure and how important it is to stay calm when things don’t go as planned. Enjoy these 48 hours and stay as long as possible, even all night. From this experience, you’ll keep the memories of what you accomplished, not the hours of lost sleep. And when it comes to unwinding, the volunteers do a great job organizing relaxation activities.">
    <img class="myImg" src="/assets/images/testimoniale/alex.jpeg" style="width:80%;max-width:300px;margin:3vw;" data-title="Alexandru Trif -CloudFlight" data-subtitle="JURAT V.15" data-caption="I was glad to see how the next generation manages to create applications or generate ideas within a limited time, with the intention to further develop them. For this, I want to congratulate them and encourage them to use their creativity with confidence! I advise participants to try to find a balance between the idea, its implementation, and its presentation.">
    <img class="myImg" src="/assets/images/testimoniale/lutas.jpg" style="width:80%;max-width:300px;margin:3vw;" data-title="Lucian Luțaș -DigitalFullStack" data-subtitle="MENTOR V.15" data-caption="PoliHack is a special hackathon for me. I started as a participant from the second edition, and over time, I moved on to the role of mentor and then judge. I enjoyed helping competitors solve their business and implementation challenges. The organization was exceptionally well done at this edition, which made everything run smoothly for everyone. When choosing an idea, it’s important to look at it from the client’s perspective. At first, it’s hard to know whether an idea is viable or not, but one trick is to create a product that solves a problem of your own – that way, you become your own client.">
    <img class="myImg" src="/assets/images/testimoniale/ale.jpg" style="width:80%;max-width:300px;margin:3vw;" data-title="Alexandra Homiuc" data-subtitle="PARTICIPANT V.15 -Hackie Chan" data-caption="Participating in PoliHack was like stepping out of my comfort zone. It was challenging, but also fun, exciting and scary, yet in the end, it left me with a rewarding feeling. Sometimes I look back on what I achieved there, and I’m truly proud that I dared to take part. Everything I learned went far beyond just coding. I learned to build business plans from scratch and to turn profitable ideas into reality. I gained confidence in presenting and speaking in front of an audience. I learned how to manage tasks within a team and delegate responsibilities. I learned to take advantage of networking opportunities and, ultimately, to dare and enjoy the process, not just the result.">
    <img class="myImg" src="/assets/images/testimoniale/ela.jpg" style="width:80%;max-width:300px;margin:3vw;" data-title="Elena Moiceanu " data-subtitle="PARTICIPANT V.15 -Frații Brothers" data-caption="The PoliHack experience goes beyond just a hackathon. In just 48 hours, you take an ambitious idea and turn it into a functional prototype, and throughout the journey, you're never alone – mentors and volunteers foster an environment where everyone feels comfortable. It’s only at the end of the pitch that you realize how much you've grown in a single weekend, staying creative and open to new perspectives.">
    <img class="myImg" src="/assets/images/testimoniale/dan.jpg" style="width:80%;max-width:300px;margin:3vw;" data-title="Dan Toderici - Finshape" data-subtitle="MENTOR V.15" data-caption="As a mentor, it was an awesome yet challenging experience. You can only arm yourself with patience and the ability to switch quickly from one project to another to make sure you can help the teams. The participants are motivated and smart, and most of them integrate the mentors' feedback into their projects, which shows during judging. Overall, 12/10 - I can’t wait for us to participate again as mentors and meet new people. For participants, I’d recommend listening to the mentors, integrating what you can within the remaining time and according to your vision. Make lots of friends, including among other teams, since it’s also a networking event before the hackathon. Don’t forget to have fun and give it your all. The real winner is the one who tries, learns new things, and surpasses themselves, not just the one who stands on the podium.">
    <img class="myImg" src="/assets/images/testimoniale/karla.jpg" style="width:80%;max-width:300px;margin:3vw;" data-title="Karla Boga " data-subtitle="PARTICIPANT V.15 -PussInBoots" data-caption=" For me, PoliHack is a heartfelt competition. I really enjoyed spending time with friends, brainstorming, and developing an idea together that came to us spontaneously. It’s fascinating to see how much an idea can evolve in just 24 hours. I feel like I significantly improved my pitching skills there and overcame my anxiety about public speaking. I also learned how to work under pressure and how important it is to stay calm when things don’t go as planned. Enjoy these 48 hours and stay as long as possible, even all night. From this experience, you’ll keep the memories of what you accomplished, not the hours of lost sleep. And when it comes to unwinding, the volunteers do a great job organizing relaxation activities.">
    <img class="myImg" src="/assets/images/testimoniale/alex.jpeg" style="width:80%;max-width:300px;margin:3vw;" data-title="Alexandru Trif -CloudFlight" data-subtitle="JURAT V.15" data-caption="I was glad to see how the next generation manages to create applications or generate ideas within a limited time, with the intention to further develop them. For this, I want to congratulate them and encourage them to use their creativity with confidence! I advise participants to try to find a balance between the idea, its implementation, and its presentation.">
    <img class="myImg" src="/assets/images/testimoniale/lutas.jpg" style="width:80%;max-width:300px;margin:3vw;" data-title="Lucian Luțaș -DigitalFullStack" data-subtitle="MENTOR V.15" data-caption="PoliHack is a special hackathon for me. I started as a participant from the second edition, and over time, I moved on to the role of mentor and then judge. I enjoyed helping competitors solve their business and implementation challenges. The organization was exceptionally well done at this edition, which made everything run smoothly for everyone. When choosing an idea, it’s important to look at it from the client’s perspective. At first, it’s hard to know whether an idea is viable or not, but one trick is to create a product that solves a problem of your own – that way, you become your own client.">
    <img class="myImg" src="/assets/images/testimoniale/ale.jpg" style="width:80%;max-width:300px;margin:3vw;" data-title="Alexandra Homiuc" data-subtitle="PARTICIPANT V.15 -Hackie Chan" data-caption="Participating in PoliHack was like stepping out of my comfort zone. It was challenging, but also fun, exciting and scary, yet in the end, it left me with a rewarding feeling. Sometimes I look back on what I achieved there, and I’m truly proud that I dared to take part. Everything I learned went far beyond just coding. I learned to build business plans from scratch and to turn profitable ideas into reality. I gained confidence in presenting and speaking in front of an audience. I learned how to manage tasks within a team and delegate responsibilities. I learned to take advantage of networking opportunities and, ultimately, to dare and enjoy the process, not just the result.">
    <img class="myImg" src="/assets/images/testimoniale/ela.jpg" style="width:80%;max-width:300px;margin:3vw;" data-title="Elena Moiceanu " data-subtitle="PARTICIPANT V.15 -Frații Brothers" data-caption="The PoliHack experience goes beyond just a hackathon. In just 48 hours, you take an ambitious idea and turn it into a functional prototype, and throughout the journey, you're never alone – mentors and volunteers foster an environment where everyone feels comfortable. It’s only at the end of the pitch that you realize how much you've grown in a single weekend, staying creative and open to new perspectives.">
 
    </div>

 <div class="scroll-container">
    <img src="/assets/images/v15/1.jpg" >
    <img  src="/assets/images/v15/2.jpg" >
    <img src="/assets/images/v15/3.jpg" >
    <img  src="/assets/images/v15/4.jpg" >
    <img  src="/assets/images/v15/5.jpg" >
    <img  src="/assets/images/v15/6.png">
    
</div>
<br>
<hr>
<br>
<h1 style="text-align: center; color:rgb(118, 17, 20)">WINNERS</h1>
<div class="sectiuni">
                 <div class="web">
                    <img src="/assets/images/v14/winners/WEB.png" >
                  </div>
                <div class="web">
                    <img src="/assets/images/v15/winners/w1.png">
                 </div>
                <div class="web">
                    <img src="/assets/images/v15/winners/w2.png">  
                </div>
                <div class="web">
                   <img src="/assets/images/v15/winners/w3.png"> 
                </div>
               
 </div>
<BR>
<hr>
<BR>
 <div class="sectiuni">
                 <div class="app">
                    <img src="/assets/images/v15/winners/a1.png" >
                  </div>
                <div class="app">
                    <img src="/assets/images/v15/winners/a2.png">
                 </div>
                <div class="app">
                    <img src="/assets/images/v15/winners/a3.png">  
                </div>
                <div class="app">
                   <img src="/assets/images/v14/winners/APP.png"> 
                </div>
               
 </div>
<BR>
<hr>
<BR>
  <div class="sectiuni">
                 <div class="web">
                    <img src="/assets/images/v14/winners/EMBEDDED.png" >
                  </div>
                <div class="web">
                    <img src="/assets/images/v15/winners/e1.png">
                 </div>
                <div class="web">
                    <img src="/assets/images/v15/winners/e2.png">  
                </div>
                <div class="web">
                   <img src="/assets/images/v15/winners/e3.png"> 
                </div>
               
 </div>
<br>
<hr>
<br>
 
  <div class="sectiuni">
                 <div class="app">
                    <img src="/assets/images/v15/winners/j1.png" >
                  </div>
               <div class="app">
                   <img src="/assets/images/v14/winners/JUNIOR.png"> 
                </div>
               
 </div>
 <br>
<hr>
<br>
  <h1 style="text-align: center; color:rgb(118, 17, 20)">SPONSORS</h1>
 <div class="scroll-container">
    <img src="/assets/images/v14/logo/1.png"style="width:auto;height:20vh;margin:2vw;" >
    <img  src="/assets/images/v14/logo/2.png"style="width:auto;height:20vh;margin:2vw;" >
    <img src="/assets/images/v14/logo/3.png"style="width:auto;height:20vh;margin:2vw;" >
    <img  src="/assets/images/v14/logo/4.png" style="width:auto;height:20vh;margin:2vw;">
    <img  src="/assets/images/v14/logo/5.svg" style="width:auto;height:20vh;margin:2vw;">
    <img  src="/assets/images/v14/logo/6.png" style="width:auto;height:20vh;margin:2vw;">
    <img  src="/assets/images/v14/logo/7.png" style="width:auto;height:20vh;margin:2vw;">
     <img  src="/assets/images/v14/logo/8.jpg" style="width:auto;height:20vh;margin:2vw;">
    <img  src="/assets/images/v14/logo/9.png" style="width:auto;height:20vh;margin:2vw;">
</div>


    
            
</main>
<script>
// Select modalul și elementele sale
var modal = document.getElementById("myModal");
var modalImg = document.getElementById("img01");
var modalTitle = document.getElementById("modalTitle");
var modalSubtitle = document.getElementById("modalSubtitle");
var captionText = document.getElementById("caption");

// Selectează toate imaginile cu clasa myImg
var images = document.querySelectorAll(".myImg");

// Adaugă event listener pentru fiecare imagine
images.forEach(function(img) {
    img.onclick = function() {
        modal.style.display = "block";
        modalImg.src = this.src;
        modalTitle.textContent = this.getAttribute("data-title");
        modalSubtitle.textContent = this.getAttribute("data-subtitle");
        captionText.textContent = this.getAttribute("data-caption");
    }
});

// Închide modalul când se apasă pe butonul de închidere
var span = document.getElementsByClassName("close")[0];
span.onclick = function() {
    modal.style.display = "none";
}

// Închide modalul când se face clic în afara lui
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

</script>
<link rel="stylesheet" type="text/css" href="{{asset 'assets/css/sponsori.css'}}" />

{{/post}}