{{!< default}} {{!-- The tag above means: insert everything in this file into the {body} tag of the default.hbs template --}} 
 <link rel="stylesheet" type="text/css" href="{{asset "assets/css/sponsori.css"}}" />
<link rel="stylesheet" type="text/css" href="{{asset " assets/css1/file.css"}}" />
<link rel="stylesheet" href="{{asset 'css/carousel-testimonials.css'}}" />
<link rel="stylesheet" type="text/css" href="{{asset "assets/css/sponsori.css"}}" />
<link rel="stylesheet" type="text/css" href="{{asset "assets/css/index.css"}}" />
<link rel="stylesheet" type="text/css" href="{{asset "assets/css/screen.css"}}" />
<link rel="stylesheet" type="text/css" href="{{asset "assets/css/carousel-premii.css"}}" />

{{#post}} {{!-- Everything inside the #post block pulls data from the page --}} 
<style>

    
/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

    /* Style buttons */
    .btn {
        background-color: #761114;
        border: none;
        color: #ffffff;
        cursor: pointer;
        margin-bottom: 2vh;
        font-size: 20px;

    }

    /* Darker background on mouse-over */
    .btn:hover {
        background-color: #1e1e1e;
        color: #761114;
    }

    /* Container styling */
    .container {
        display: flex;
        justify-content: space-between;
        width: 80%;
        height: 60%;
    }

    /* Column styling */
    .column {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 37%;
        border: solid #761114; /* Border color */
        background-color: #1e1e1e; /* Background color */
        border-radius: 10px; /* Optional: Rounded corners */
        margin:2vw;
    }

    /* Responsive layout: Stack columns on small screens */
    @media (max-width: 900px) {
        .container {
            flex-direction: column;
            align-items: center;
        }
        
        .column {
            width: 80vw; /* Optional: Adjust width to avoid full width on smaller screens */
            margin-bottom: 20px; /* Space between stacked items */
        }
    }

/*MENTORI*/



</style>

<main id="site-main" class="site-main">
    <img class="banner_ph" src="/assets/images/bgv16.png" alt="">


    <br>
    <br>


<h1 style="text-align: center; color:rgb(118, 17, 20)">JUDGES</h1>
  <div class="scroll-container">
   <div style="width:80%;max-width:300px;margin:3vw;">
    <img class="myImg" src="/assets/images/v16/jurati/cezara.jfif">
    <h6 style="color: white;">Mureșan Cezara - CloudFlight</h6>
</div>

<div style="width:80%;max-width:300px;margin:3vw;">
    <img class="myImg" src="/assets/images/v16/jurati/catalin.jpg">
    <h6 style="color: white;">Retegan Catalin - CloudFlight</h6>
</div>

<div style="width:80%;max-width:300px;margin:3vw;">
    <img class="myImg" src="/assets/images/v16/jurati/mihai.jpeg">
    <h6 style="color: white;">Nas Mihai - Cluj Startups</h6>
</div>

<div style="width:80%;max-width:300px;margin:3vw;">
    <img class="myImg" src="/assets/images/v16/jurati/alexandru.jpg">
    <h6 style="color: white;">Alexandru Berciu - UTCN</h6>
</div>

<div style="width:80%;max-width:300px;margin:3vw;">
    <img class="myImg" src="/assets/images/v16/jurati/bogdan.jpg">
    <h6 style="color: white;">Bogdan Iancu - UTCN</h6>
</div>


   </div>

<br><br>

<h1 style="text-align: center; color:rgb(118, 17, 20)">MENTORS</h1>
  <div class="scroll-container">
   <div style="width:80%;max-width:300px;margin:3vw;">
    <img class="myImg" src="/assets/images/v16/mentori/daniel.jpg">
    <h6 style="color: white;">Daniel Todasca - CloudFlight</h6>
</div>

<div style="width:80%;max-width:300px;margin:3vw;">
    <img class="myImg" src="/assets/images/v16/mentori/leo.jpg">
    <h6 style="color: white;">Mihalcea Leonard - CloudFlight</h6>
</div>

<div style="width:80%;max-width:300px;margin:3vw;">
    <img class="myImg" src="/assets/images/v16/mentori/marcel.png">
    <h6 style="color: white;">Popa Marcel - CloudFlight</h6>
</div>

<div style="width:80%;max-width:300px;margin:3vw;">
    <img class="myImg" src="/assets/images/v16/mentori/lutas.jpg">
    <h6 style="color: white;">Lucian Luțaș - Digital Fullstack</h6>
</div>

<div style="width:80%;max-width:300px;margin:3vw;">
    <img class="myImg" src="/assets/images/v16/mentori/dan.jpg">
    <h6 style="color: white;">Dan Toderici - Finshape</h6>
</div>

<div style="width:80%;max-width:300px;margin:3vw;">
    <img class="myImg" src="/assets/images/v16/mentori/andreea.jpg">
    <h6 style="color: white;">Andreea Rautescu - Finshape</h6>
</div>

<div style="width:80%;max-width:300px;margin:3vw;">
    <img class="myImg" src="/assets/images/v16/mentori/andrei.jpeg">
    <h6 style="color: white;">Andrei Nuț - Finshape</h6>
</div>

<div style="width:80%;max-width:300px;margin:3vw;">
    <img class="myImg" src="/assets/images/v16/mentori/bianca.jpeg">
    <h6 style="color: white;">Bianca Szekely - Finshape</h6>
</div>

<div style="width:80%;max-width:300px;margin:3vw;">
    <img class="myImg" src="/assets/images/v16/mentori/ovidiu.jpg">
    <h6 style="color: white;">Ovidiu Drăgan - Cluj Startups</h6>
</div>

<div style="width:80%;max-width:300px;margin:3vw;">
    <img class="myImg" src="/assets/images/v16/mentori/calin.jpg">
    <h6 style="color: white;">Călin Șipoș - Cluj Startups</h6>
</div>

<div style="width:80%;max-width:300px;margin:3vw;">
    <img class="myImg" src="/assets/images/v16/mentori/danieltatar.png">
    <h6 style="color: white;">Daniel Tătar - Cluj Startups</h6>
</div>


   </div>

  
<h1 style="text-align: center; color:rgb(118, 17, 20)">VOLUNTEERS</h1>
  <div class="scroll-container">
    <img class="myImg" src="/assets/images/v16/voluntari/1.png" style="width:80%;max-width:300px;margin:3vw;">
    <img class="myImg" src="/assets/images/v16/voluntari/2.png" style="width:80%;max-width:300px;margin:3vw;" >
    <img class="myImg" src="/assets/images/v16/voluntari/3.png" style="width:80%;max-width:300px;margin:3vw;" >
    <img class="myImg" src="/assets/images/v16/voluntari/4.png" style="width:80%;max-width:300px;margin:3vw;" >
    <img class="myImg" src="/assets/images/v16/voluntari/5.png" style="width:80%;max-width:300px;margin:3vw;" >
    <img class="myImg" src="/assets/images/v16/voluntari/6.png" style="width:80%;max-width:300px;margin:3vw;" >
    <img class="myImg" src="/assets/images/v16/voluntari/7.png" style="width:80%;max-width:300px;margin:3vw;" >
    <img class="myImg" src="/assets/images/v16/voluntari/8.png" style="width:80%;max-width:300px;margin:3vw;" >
    <img class="myImg" src="/assets/images/v16/voluntari/9.png" style="width:80%;max-width:300px;margin:3vw;" >
    <img class="myImg" src="/assets/images/v16/voluntari/10.png" style="width:80%;max-width:300px;margin:3vw;" >
    <img class="myImg" src="/assets/images/v16/voluntari/11.png" style="width:80%;max-width:300px;margin:3vw;" >
    <img class="myImg" src="/assets/images/v16/voluntari/12.png" style="width:80%;max-width:300px;margin:3vw;" >
    <img class="myImg" src="/assets/images/v16/voluntari/13.png" style="width:80%;max-width:300px;margin:3vw;">
    <img class="myImg" src="/assets/images/v16/voluntari/14.png" style="width:80%;max-width:300px;margin:3vw;" >
    <img class="myImg" src="/assets/images/v16/voluntari/15.png" style="width:80%;max-width:300px;margin:3vw;" >
    <img class="myImg" src="/assets/images/v16/voluntari/16.png" style="width:80%;max-width:300px;margin:3vw;">
    <img class="myImg" src="/assets/images/v16/voluntari/17.png" style="width:80%;max-width:300px;margin:3vw;" >
    <img class="myImg" src="/assets/images/v16/voluntari/18.png" style="width:80%;max-width:300px;margin:3vw;" >
    <img class="myImg" src="/assets/images/v16/voluntari/19.png" style="width:80%;max-width:300px;margin:3vw;" >
    <img class="myImg" src="/assets/images/v16/voluntari/20.png" style="width:80%;max-width:300px;margin:3vw;" >
    <img class="myImg" src="/assets/images/v16/voluntari/21.png" style="width:80%;max-width:300px;margin:3vw;" >
    <img class="myImg" src="/assets/images/v16/voluntari/22.png" style="width:80%;max-width:300px;margin:3vw;" >
    <img class="myImg" src="/assets/images/v16/voluntari/23.png" style="width:80%;max-width:300px;margin:3vw;" >
    <img class="myImg" src="/assets/images/v16/voluntari/24.png" style="width:80%;max-width:300px;margin:3vw;" >
    <img class="myImg" src="/assets/images/v16/voluntari/25.png" style="width:80%;max-width:300px;margin:3vw;">
    <img class="myImg" src="/assets/images/v16/voluntari/26.png" style="width:80%;max-width:300px;margin:3vw;" >
    <img class="myImg" src="/assets/images/v16/voluntari/27.png" style="width:80%;max-width:300px;margin:3vw;">
     <img class="myImg" src="/assets/images/v16/voluntari/28.png" style="width:80%;max-width:300px;margin:3vw;" >
  
   </div>





    <h1 style="color:white;text-align:center;margin-top:5vh;">You should read this.</h1>
   
     <div class="container">
        <div class="column">
            <img src="/assets/images/program.png" style="width: cover; height:cover;" />
             <br>
            <a href="https://docs.google.com/document/d/1KHjfw-zVJBrEotV9snUCjmU6ylteaR0nYM_XRR3gDX0/edit?tab=t.0" class="btn" target="_blank">
                Program
            </a>
        </div>


         <div class="column">
            <img src="/assets/images/theme.png" style="width: cover; height:cover;" />
        
        </div>
    </div>

    <div class="container">
        <div class="column">
            <img src="/assets/images/regulations.png" style="width: cover; height:cover;" />
            <br>
            <a href="/assets/images/regulament.pdf" download class="btn">
                <i class="fa fa-download"></i> Download
            </a>
        </div>

        <div class="column">
            <img src="/assets/images/terms&cond.png" style="width: cover; height:cover;" />
            <br>
            <a href="/assets/images/terms.pdf" download class="btn">
                <i class="fa fa-download"></i> Download
            </a>
        </div>
         
    </div>
   
 <br>
<br>
<br>
 <h1 style="text-align: center; color:rgb(118, 17, 20)">SPONSORS</h1>
 <div class="scroll-container">
  <img src="/assets/images/v16/sponsori/1.png" style="width:auto; height:20vh; margin:2vw;">
  <img src="/assets/images/v16/sponsori/2.png" style="width:auto; height:20vh; margin:2vw;">
  <img src="/assets/images/v16/sponsori/3.png" style="width:auto; height:20vh; margin:2vw;">
  <img src="/assets/images/v16/sponsori/4.png" style="width:auto; height:20vh; margin:2vw;">
  <img src="/assets/images/v16/sponsori/5.png" style="width:auto; height:20vh; margin:2vw;">
  <img src="/assets/images/v16/sponsori/6.png" style="width:auto; height:20vh; margin:2vw;">
  <img src="/assets/images/v16/sponsori/7.svg" style="width:auto; height:20vh; margin:2vw;">
  <img src="/assets/images/v16/sponsori/8.png" style="width:auto; height:20vh; margin:2vw;">
  <img src="/assets/images/v16/sponsori/9.png" style="width:auto; height:20vh; margin:2vw;">
  <img src="/assets/images/v16/sponsori/10.png" style="width:auto; height:20vh; margin:2vw;">
  <img src="/assets/images/v16/sponsori/11.jpg" style="width:auto; height:20vh; margin:2vw;">
  
   </div>

</main>

<script>
    // JavaScript for scroll detection (desktop only)
    document.addEventListener('DOMContentLoaded', () => {
        const header = document.querySelector('.gh-head');

        const handleScroll = () => {
            // Only apply the scroll effect if the viewport width is above 900px
            if (window.innerWidth >= 900) {
                if (window.scrollY > 50) {
                    header.classList.add('scrolled');
                } else {
                    header.classList.remove('scrolled');
                }
            } else {
                // Remove the 'scrolled' class on mobile to ensure a consistent look
                header.classList.remove('scrolled');
            }
        };

        // Add the scroll event listener
        window.addEventListener('scroll', handleScroll);

        // Check on window resize as well
        window.addEventListener('resize', handleScroll);
    });

    document.querySelector('a[href^="#"]').addEventListener("click", function(event) {
        event.preventDefault();

        const targetId = this.getAttribute("href").substring(1);
        const targetElement = document.getElementById(targetId);

        window.scrollTo({
            top: targetElement.offsetTop,
            behavior: "smooth"
        });
    });
</script>
{{/post}}
