{{!< default}}
 <link rel="stylesheet" type="text/css" href="{{asset "assets/css/sponsori.css"}}" />
{{#post}}

<main id="site-main" class="site-main">
    <article class="article {{post_class}}">
        <header class="article-header gh-canvas">
            {{#if feature_image}}
            <figure class="article-image">
                <img
                    srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w"
                    sizes="(min-width: 1400px) 1400px, 92vw"
                    src="{{img_url feature_image size="xl"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                />
                {{#if feature_image_caption}}
                    <figcaption>{{feature_image_caption}}</figcaption>
                {{/if}}
            </figure>
            {{/if}}

  
        </header>

        
      <section class = "sponsori-content">
         <div class = "category-title platinum">
            <h1 class = "title-sponsor"><span class = "line">--</span>PLATINUM<span class = "line">--</span></h1>
         </div>
         <div class = "card-category">
            <div class = "card-bg">
               <div class = "card-img img-5"></div>
              <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.delonghi.com/ro-ro"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-4"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.continental.com/ro-ro/"><i class="fa fa-globe"></i></a>
               </div>
             
            </div>
            <div class = "card-bg">
               <div class = "card-img img-1"></div>
               <div class="icon-h">
                     <a class="icon" href="mailto:alexadru.cosma@cloudflight.io"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.cloudflight.io/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-2"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:contact@tapptitude.com"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://tapptitude.com/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-3"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:info@robofun.ro"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.robofun.ro"><i class="fa fa-globe"></i></a>
               </div>
             
            </div>
            
            
         </div>


         <div class = "category-title platinum">
            <h1 class = "title-sponsor"><span class = "line">--</span>GOLD<span class = "line">--</span></h1>
         </div>
         <div class = "card-category">
            <div class = "card-bg">
               <div class = "card-img img-6"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.autonet-group.ro/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
         </div>

         <div class = "category-title platinum">
            <h1 class = "title-sponsor"><span class = "line">--</span>SILVER<span class = "line">--</span></h1>
         </div>
         <div class = "card-category">
            <div class = "card-bg">
               <div class = "card-img img-7"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://saltandpepper.co/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-8"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://axon-soft.com/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-9"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.p3-group.com/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-10"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://abac.software/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
         </div>

         <div class = "category-title platinum">
            <h1 class = "title-sponsor"><span class = "line">--</span>BRONZE<span class = "line">--</span></h1>
         </div>
         <div class = "card-category">
            <div class = "card-bg">
               <div class = "card-img img-11"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.cylex.ro/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-12"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.linnify.com/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-13"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.qubiz.com/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-14"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.nanolabs.ro/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
                 <div class = "card-bg">
               <div class = "card-img img-15"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.3ss.tv/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
         </div>

<div class = "category-title platinum">
            <h1 class = "title-sponsor"><span class = "line">--</span>PARTENERI<span class = "line">--</span></h1>
         </div>
         <div class = "card-category">
            <div class = "card-bg">
               <div class = "card-img img-16"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://2022.defineschool.ro/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-17"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://rotsa.ro/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-18"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://inventiff.io/ro/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-19"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.vitaminaqua.ro/home"><i class="fa fa-globe"></i></a>
               </div>
            </div>
                 <div class = "card-bg">
               <div class = "card-img img-20"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://web.facebook.com/pancakehousecluj/"><i class="fa fa-facebook"></i></a>
               </div>
            </div>
                 <div class = "card-bg">
               <div class = "card-img img-21"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="http://www.ludimi.ro/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
             <div class = "card-bg">
               <div class = "card-img img-22"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.transilvanianuts.ro/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-23"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.utcluj.ro/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-24"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://sas.utcluj.ro/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
            <div class = "card-bg">
               <div class = "card-img img-25"></div>
                <div class="icon-h">
                     <a class="icon" href="mailto:"><i class="fa fa-envelope"></i></a>
                     <a class="icon" href="https://www.bigbelly-cluj.ro/"><i class="fa fa-globe"></i></a>
               </div>
            </div>
         </div>

      </section>
    
    </article>


</main>

{{/post}}