
{{!< default}} {{!-- The tag above means: insert everything in this file into the {body} tag of the default.hbs template
    --}} {{#post}} {{!-- Everything inside the #post block pulls data from the page --}} 
    
    <style>
    .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    max-width: 1024px;
    margin: 0 auto;
    }

    .card-grid {
    margin-top: 3em;
    --auto-grid-min-size: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 2rem 0rem;
    grid-auto-rows: 1fr;
    }

    .card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    width: 300px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    transition-duration: 400ms;
    height: 100%;
    }

    .card img {
    max-width: 300px;
    width: 100%;
    height: 225px;
    object-fit: cover;
    border-radius: 10px;
    object-position: center;
    }

    .card .card-body {
    text-align: center;
    padding: 1em 2em;
    }

    .card .card-body h2 {
    margin: 0 0 .5em;
    font-weight: 700;
    font-size: 2rem;
    }

    .card .card-body p.role {
        color: #B50000;
    }

    .icon:hover {
        color: #B50000;
    }
    </style>

    <main id="site-main" class="site-main">
        <article class="article {{post_class}}">

            <header class="article-header gh-canvas">
                {{#if feature_image}}
                <figure class="article-image">
                    {{!-- This is a responsive image, it loads different sizes depending on device
                    https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433
                    --}}
                    <img srcset="{{img_url feature_image size=" s"}} 300w, {{img_url feature_image size="m" }} 600w,
                        {{img_url feature_image size="l" }} 1000w, {{img_url feature_image size="xl" }} 2000w"
                        sizes="(min-width: 1400px) 1400px, 92vw" src="{{img_url feature_image size=" xl"}}"
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
                    {{#if feature_image_caption}}
                    <figcaption>{{feature_image_caption}}</figcaption>
                    {{/if}}
                </figure>
                {{/if}}
            </header>

            <section class="container">


                <div class="article-title" style="text-align: center;">
                    <h1>About PoliHack</h1>
                </div>

                <div>
                    <p>PoliHack is a 48-hour hackathon that takes place every university semester, promoting innovation and collaboration among students and tech enthusiasts. Participants can register in categories such as WEB, APP, and EMBEDDED, with a dedicated section for high school participants, JUNIOR. This project offers them the chance to turn their ideas into viable projects, with support from mentors throughout the duration of the hackathon. The event promotes skills like teamwork and communication, contributing to shaping a generation ready for technological challenges. Balancing technology and business provides participants with an opportunity to test and enhance their skills in a competitive yet collaborative environment. PoliHack takes place from April 11th to April 14th, 2024, and for more details, you can follow us on Instagram or Facebook.
                </div>
                <div>
                    <h2>Our mission</h2>
                    <p>Our goal is to bridge the gap between academic learning and real-world application. By offering a platform for young innovators to showcase their skills, we aim to foster a generation of tech-savvy pioneers ready to tackle the challenges of the future.</p>
                </div>
                <div>
                    <h2>What we offer</h2>
                    <p>Networking Opportunities: An evening dedicated to networking provides participants with the opportunity to connect with our partners, opening doors to potential future collaborations.</p>
                    <br>
                    <p>Training: Sessions on business development and how to effectively plan and grow a startup are integral parts of the hackathon, equipping participants with essential entrepreneurial skills.</p>
                   <br>
                    <p>Mentorship: Throughout the event, experienced mentors are available to guide teams, offering advice and insights to help refine their projects.</p>
                </div>
                <div>
                    <h2>The challenge</h2>
                    <p>Participants are tasked with developing a tech solution, alongside a compelling presentation and a well-thought-out business plan, all within a 48-hour timeframe. All of these, based on a theme introduced at the beginning of the hackathon. This approach ensures not only the technical viability of the projects but also their market potential.</p>
                </div>
                <div>
                    <h2>Join Us</h2>
                    <p>
                        PoliHack epitomizes the synergy achieved through collaborative endeavors, forward-thinking innovation, and unwavering dedication. We invite you to be part of this exhilarating journey, to learn and perhaps even revolutionize the way we think about technology and business.
                    </p>
                </div>
                
                <h2 style="text-align: center">Team</h2>

                <div class="card-grid">
                    
                    <div class="card">
                        <img src="/content/images/DemeanVlad.jpg" alt="Demean Vlad">
                        <div class="card-body">
                            <h2>Demean <br> Vlad</h2>
                            <p class="role">Coordonator</p>
                            <div>
                                <a class="icon" href="mailto:demeanvlad8@gmail.com"><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>
                     <div class="card">
                        <img src="/content/images/AlinaZaharia_.jpg" alt="Zaharia Alina">
                        <div class="card-body">
                            <h2>Zaharia<br> Alina </h2>
                            <p class="role">Co-coordonator</p>
                            <div>
                                <a class="icon" href="mailto:zaharia.alina13@gmail.com"><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/content/images/ArimiaAndreea.jpg" alt="Arimia Andreea">
                        <div class="card-body">
                            <h2>Arimia<br> Andreea </h2>
                            <p class="role">Co-coordonator</p>
                            <div>
                                <a class="icon" href="mailto:arimiaandreeastefania@gmail.com"><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/content/images/MurariuGeorgiana.jpg" alt="Murariu Georgiana">
                        <div class="card-body">
                            <h2>Murariu <br> Georgiana</h2>
                            <p class="role">Co-coordonator</p>
                            <div>
                                <a class="icon" href="mailto:georgiamurariu@gmail.com"><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>
                     <div class="card">
                        <img src="/content/images/MozacuStefania.jpg" alt="MozacuStefania">
                        <div class="card-body">
                            <h2>Mozacu <br> Stefania</h2>
                            <p class="role">Co-coordonator</p>
                            <div>
                                <a class="icon" href="mailto:stefaniamozacu1@gmail.com"><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>
                     <div class="card">
                        <img src="/content/images/Turcu.jpg" alt="Turculet Stefan">
                        <div class="card-body">
                            <h2>Turculet<br> Stefan</h2>
                            <p class="role">Co-coordonator</p>
                            <div>
                                <a class="icon" href="mailto:stefanturculet2016@gmail.com"><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/content/images/FilimonAntonia.jpg" alt=" Filimon Antonia">
                        <div class="card-body">
                            <h2>Filimon<br> Antonia</h2>
                            <p class="role">Secretar</p>
                            <div>
                                <a class="icon" href="mailto:antonia.af12.filimon@gmail.com"><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>
                   
                    <div class="card">
                        <img src="/content/images/TimisTraian.jpg" alt="Timis Traian">
                        <div class="card-body">
                            <h2>Timis<br> Traian</h2>
                            <p class="role">Responsabil BC</p>
                            <div>
                                <a class="icon" href="mailto:traiantimis02@gmail.com"><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

        </article>
    </main>

    {{/post}}